* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background: rgb(200, 200, 200);
    z-index: 1;
    height: 6%;
}

#Title {
    font-size: 2.5em;
    color: rgb(39, 106, 161);
    font-style: italic;
}


#infos {
    display: flex;
    justify-content: space-between;
}

.compteur_div {
    display: flex;
    margin: 0 5px;
    padding: 1px 5px;
    border: solid 2px;
    border-radius: 8px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.compteurs_img {
    width: 30px;
    padding-top: 2px;
}

.top_button {
    cursor: pointer;
}

.top_buttons_img {
    align-self: center;
    width: 30px;
}

#main_window {
    display: flex;
    height: 100%;
    flex: 1;
}

#side_menu {
    display: flex;
    position: absolute;
    left: 0%;
    box-shadow: 3px 2px 5px 0px #a3a3a3;
    height: -webkit-fill-available;
    width: 25%;
    background-color: rgb(200, 200, 200);
    justify-content: space-between;
    transition: 0.5s cubic-bezier(0.57, 0.13, 0.27, 0.76);
    z-index: 1;
}

#game_window {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    width: 75%;
    margin-left: 25%;
    transition: 0.5s cubic-bezier(0.57, 0.13, 0.27, 0.76);
}

#real_menu {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    width:100%;
    align-items:center;
    overflow-y: scroll;
}


#shrink_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 0;

}

#shrink_button {
    height : 0;
    width : 0;
    border-top : 29px solid transparent;
    border-right : 30px solid rgb(163, 163, 163);
    border-bottom : 29px solid transparent;
    border-left: 0;
    background: transparent;
    z-index: 2;
    transform-origin: right;
    transition: transform .5s;
    cursor: pointer;
}

.search_bar {
    display:flex;
    width:80%;
    height:30px;
    background-color:white;
    padding: 0 5px;
    border-radius:2px;
    margin: 0 0 10px 0;
}


.search_icon {
    width:20px;
}

.search_form {
    border: 0px;
    width:100%;
    padding: 0 5px;
    font-size: max(.5vw,16px);
}

.search_form:focus {
    outline: none;
}

#preconfig {
    width: 80%;
    height: 40px;
    margin: 5px 0;
    border-radius:2px;
    border: solid 1px black;
    padding: 2px;
    overflow: hidden;
    background-color: lightgrey;
    font-size: max(.5vw,16px);
    transition: ease-in-out 0.1s;
}
#preconfig:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.category {
    width: 90%;
    margin: 20px 0;
}

.category_title {
    font-size: max(2vw,24px);
    align-self: flex-start;
    margin-bottom: 10px;
}

.parameter_div {
    margin: 8px 0px;
}










#game_display {
    display: flex;
    flex: 1;
}

#timeline_div {
    height: 13%;
    display: flex;
    justify-content: space-around;
}

#game_part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* perspective: 1800px; */
}

#water_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7%;
    z-index: 2;
}
#water_bar_quantity {
    content: '50%';
    font-size: 24px; 
    font-weight: bolder;
}

#water_bar_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #181818;
    width: 40px;
    height: 85%;
    border: rgb(59, 59, 59) 3px solid;
    overflow: hidden;
}


#water_bar_colored {
    display: flex;
    flex-direction: column;
    background-color: #68b0eb;
    width: 100%;
    height: 65%;
    border-top: 2px;
    animation: grow 1.3s ease-out forwards;
    transform-origin: bottom;
    transition: height .5s;
}

#vagues {
    z-index:3;
    min-height:150px;
    min-width:150px;
    border-radius: 40%;
    background-color: rgb(104, 176, 235);
    animation: rotation 7s linear infinite;
    translate: 0 -2%;
    align-self:center;
}

@keyframes grow {
    from {
        transform: scaleY(0);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#timeline {
    display: flex;
    margin-left: 1%;
    height: 100%;
    width: 85%;
}

#water_timeline {
    height: 100%;
    width: 100%;
}

#time_buttons_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_button {
    width: 30%;
    cursor: pointer;
    border: none;
    filter: invert(60%) sepia(88%) saturate(522%) hue-rotate(179deg) brightness(100%) contrast(85%);
}

#pave_3d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    aspect-ratio: 1 / 1;
    /* background-color: #b5258f54; */
    transform-style: preserve-3d;
    transform: rotateX(50deg) rotateZ(315deg);
    transition: 2s ease-out;
}

#grid_3d_div {
    display: grid;
    width: 100%;
    height: 100%;
    background-color:hsl(108, 46%, 62%);
}

.case_grid {
    width: 100%;
    height: 100%;
    border: solid 1.5px rgb(0, 43, 160);
}

.case_grid:hover {
    background-color: #00eeff;
}


.cube_face {
    position: absolute;
}

#cube_face_left {
    background: rgb(143, 86, 29);
    height: 100%;
    width: 25%;
    border: solid 1.5px black;
}

#cube_face_right {
    background: rgb(124, 71, 19);
    height: 25%;
    width: 100%;
    border: solid 1.5px black;
}

.sprite_cool {
    display: flex;
    position: relative;
    width: 177%;
    height: 170%;
    transform: rotateZ(45deg);
    translate: -19.7% -27.5%;
    pointer-events: none;
}