* {
    margin: 0;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background: rgb(200, 200, 200);
    z-index: 1;
    height: 6%;
}

#Title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: rgb(39, 106, 161);
    font-style: italic;
}


#infos {
    display: flex;
    justify-content: space-between;
}

.compteur_div {
    display: flex;
    margin: 0 5px;
    padding: 1px 5px;
    border: solid 2px;
    border-radius: 8px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.compteurs_img {
    width: 30px;
    padding-top: 2px;
}

.top_buttons_img {
    align-self: center;
    width: 30px;
}

#main_window {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
}

#side_menu {
    display: flex;
    position: absolute;
    left: 0%;
    box-shadow: 3px 2px 5px 0px #a3a3a3;
    height: -webkit-fill-available;
    width: 25%;
    background-color: rgb(104, 176, 235);
    justify-content: space-between;
    transition: 0.5s cubic-bezier(0.57, 0.13, 0.27, 0.76);
}

#game_window {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    width: 75%;
    margin-left: 25%;
    transition: 0.5s cubic-bezier(0.57, 0.13, 0.27, 0.76);
}

#real_menu {
    display: flex;
}


#shrink_container {
    display: flex;
    align-items: center;
}

#shrink_button {
    height: 50px;
    translate: 99%;
}

#game_display {
    display: flex;
    flex: 1;
}

#timeline_div {
    height: 12%;
}

#game_part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#game_part > canvas {
    width: min(75%,850px);
}

#water_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}

#water_bar_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #181818;
    width: 40px;
    height: 85%;
    border: rgb(59, 59, 59) 3px solid;
    overflow: hidden;
}

#water_bar_colored {
    background-color: rgb(104, 176, 235);
    width: 100%;
    height: 70%;
    border-top: 5px solid #FFF;
    box-sizing: border-box;
    animation: grow 1.3s ease-out forwards;
    transform-origin: bottom;
}

#vagues {
    z-index:3;
    height:150px;
    width:150px;
    border-radius: 40%;
    background-color: rgb(104, 176, 235);
    animation: rotation 7s linear infinite;
    translate: 0 95%;
    align-self:center;
}

@keyframes grow {
    from {
        transform: scaleY(0);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#timeline {
    margin-left: 1%;
    height: 100%;
    width: 90%;
}

#water_timeline {
    height: 100%;
    width: 100%;
}